
.relative { position:relative; } 
.months {} 
.month { margin-top:12px; } 
.months ul { list-style:none; margin:0px; padding:0px; } 
.months ul li a { float:left; margin:-1px; padding:0px 15px 0px 0px; color:#888888; text-decoration:none; font-size:30px; font-weight:bold; text-transform:uppercase; } 
.months ul li a:hover, .months ul li a.active { color:#428BCA; } 
.calendar { float: left; border-collapse:collapse; width:50%;} 
.calendar th { text-align: center; font-size: 20px; }
.calendar td { border:1px solid #A3A3A3; width:14%; height:80px; } 

.calendar td.today { border:2px solid #428BCA; } 
.calendar td.padding { border:none; }
.calendar td.active, .calendar td:hover { background:#DFDFDF; } 
.calendar th { font-weight:normal; color:#A8A8A8; } 
.calendar td .day { position:absolute; color:#8C8C8C; right:5px; font-weight:bold; font-size:20pt; } 
.calendar td .events { position:absolute; margin-top:-40px; margin-left:10px; padding:0px; color:#428BCA; } 

 
.dayinfos li { min-height:50px; line-height:25px; font-weight:bold; border-bottom:1px solid #D6D6D6; text-indent:0; background:none; } 
.dayinfos li:first-child { border-top:1px solid #D6D6D6; } 

.clear { clear:both; }
.dayinfos { width:50%; display:none; float:left; }
.daytitle { display:none; } 
.daytitle { list-style:none; margin:0px 0px 0px 16px; padding:0px; color:#428BCA; font-size:25px; display:block; font-weight:bold; } 